<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %> 
		<div class="posts content">
			<h2 class='posts title'><%= title %></h2>

			<% if (data.amount > 0) { %>
				<% data.posts.forEach((post) => { %>
					<a href="/dashboard/<%= post._id %> " class="single item">
						<h3 class="single title"><%= post.title %> </h3>
						<div class="info">
							<p class="author">
								<% if (data.user) { %>
									<%= post.author %>
								<% } else { %>
									anonymous
								<% } %>   	 
							</p>
						</div>
					</a>  
				<% }) %>
			<% } else { %>
				<p class='posts unavailable'>There are no posts to display.</p>
				<% if (data.user) { %>
					<div class='nav buttons'>
						<a href="/dashboard/create-post">Create a post</a>
					</div>
				<% } else { %>
					<div class='nav buttons'>
						<a href="/user/sign-up">Sign up</a> to get started
					</div>
				<% } %> 
			<% } %>   
		</div>
	</body>
</html>
