<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %> 
	<body>
		<%- include('./partials/nav.ejs') %> 
		<div class="posts content details content">
			<h2 class='posts title'><%= post.title %></h1>
			<p class='details body'><%= post.body %></p>
			<div class="details button">
				<% if (!currentUser) { %> 
					<% if (!currentUser) { %>
						<button class="delete nav buttons" data-doc="<%= post._id %>">DELETE</button> 
					<% } %> 
				<% } %> 
			</div>
		</div>
	</body>
	<script>
		const trashcan = document.querySelector('button.delete')
	
		trashcan.addEventListener('click', (e) => {
		  const endpoint = `/dashboard/${trashcan.dataset.doc}`
	
		  fetch(endpoint, { method: 'DELETE' })
			.then((response) => response.json())
			.then((data) => window.location.href = data.redirect)
			.catch((err) => console.log(err))
		})
	  </script>
</html>
